:root {
  --gray---gray-1: #fff;
  --gray---gray-2: #fafafa;
  --gray---gray-3: #f5f5f5;
  --gray---gray-4: #e8e8e8;
  --gray---gray-5: #d9d9d9;
  --gray---gray-6: #bfbfbf;
  --gray---gray-7: #8c8c8c;
  --gray---gray-8: #595959;
  --gray---gray-9: #262626;
  --gray---gray-10: #000;
  --daybreak-blue---blue-1: #e6f7ff;
  --daybreak-blue---blue-2: #bae7ff;
  --daybreak-blue---blue-3: #91d5ff;
  --daybreak-blue---blue-4: #69c0ff;
  --daybreak-blue---blue-5: #40a9ff;
  --daybreak-blue---blue-6: #1890ff;
  --daybreak-blue---blue-7: #096dd9;
  --daybreak-blue---blue-8: #0050b3;
  --daybreak-blue---blue-9: #003a8c;
  --daybreak-blue---blue-10: #002766;
  --dust-red---red-1: #fff1f0;
  --dust-red---red-2: #ffccc7;
  --dust-red---red-3: #ffa39e;
  --dust-red---red-4: #ff7875;
  --dust-red---red-5: #ff4d4f;
  --dust-red---red-6: #f5222d;
  --dust-red---red-7: #cf1322;
  --dust-red---red-8: #a8071a;
  --dust-red---red-9: #820014;
  --dust-red---red-10: #5c0011;
  --volcano---volcano-1: #fff2e8;
  --volcano---volcano-2: #ffd8bf;
  --volcano---volcano-3: #ffbb96;
  --volcano---volcano-4: #ff9c6e;
  --volcano---volcano-5: #ff7a45;
  --volcano---volcano-6: #fa541c;
  --volcano---volcano-7: #d4380d;
  --volcano---volcano-8: #ad2102;
  --volcano---volcano-9: #871400;
  --volcano---volcano-10: #610b00;
  --sunset-orange---orange-1: #fff7e6;
  --sunset-orange---orange-2: #ffe7ba;
  --sunset-orange---orange-3: #ffd591;
  --sunset-orange---orange-4: #ffc069;
  --sunset-orange---orange-5: #ffa940;
  --sunset-orange---orange-6: #fa8c16;
  --sunset-orange---orange-7: #d46b08;
  --sunset-orange---orange-8: #ad4e00;
  --sunset-orange---orange-9: #873800;
  --sunset-orange---orange-10: #612500;
  --calendula-gold---gold-1: #fffbe6;
  --calendula-gold---gold-2: #fff1b8;
  --calendula-gold---gold-3: #ffe58f;
  --calendula-gold---gold-4: #ffd666;
  --calendula-gold---gold-5: #ffc53d;
  --calendula-gold---gold-6: #faad14;
  --calendula-gold---gold-7: #d48806;
  --calendula-gold---gold-8: #ad6800;
  --calendula-gold---gold-9: #874d00;
  --calendula-gold---gold-10: #613400;
  --sunrise-yellow---yellow-1: #feffe6;
  --sunrise-yellow---yellow-2: #ffffb8;
  --sunrise-yellow---yellow-2: #fffb8f;
  --sunrise-yellow---yellow-4: #fff566;
  --sunrise-yellow---yellow-5: #ffec3d;
  --sunrise-yellow---yellow-6: #fadb14;
  --sunrise-yellow---yellow-7: #d4b106;
  --sunrise-yellow---yellow-8: #ad8b00;
  --sunrise-yellow---yellow-9: #876800;
  --sunrise-yellow---yellow-10: #614700;
  --lime---lime-1: #fcffe6;
  --lime---lime-2: #f4ffb8;
  --lime---lime-3: #eaff8f;
  --lime---lime-4: #d3f261;
  --lime---lime-5: #bae637;
  --lime---lime-6: #a0d911;
  --lime---lime-7: #7cb305;
  --lime---lime-8: #5b8c00;
  --lime---lime-9: #3f6600;
  --lime---lime-10: #254000;
  --polar-green---green-1: #f6ffed;
  --polar-green---green-2: #d9f7be;
  --polar-green---green-3: #b7eb8f;
  --polar-green---green-4: #95de64;
  --polar-green---green-5: #73d13d;
  --polar-green---green-6: #52c41a;
  --polar-green---green-7: #389e0d;
  --polar-green---green-8: #237804;
  --polar-green---green-9: #135200;
  --polar-green---green-10: #092b00;
  --cyan---cyan-1: #e6fffb;
  --cyan---cyan-2: #b5f5ec;
  --cyan---cyan-3: #87e8de;
  --cyan---cyan-4: #5cdbd3;
  --cyan---cyan-5: #36cfc9;
  --cyan---cyan-6: #13c2c2;
  --cyan---cyan-7: #08979c;
  --cyan---cyan-8: #006d75;
  --cyan---cyan-9: #00474f;
  --cyan---cyan-10: #002329;
  --geek-blue---geekblue-1: #f0f5ff;
  --geek-blue---geekblue-2: #d6e4ff;
  --geek-blue---geekblue-3: #adc6ff;
  --geek-blue---geekblue-4: #85a5ff;
  --geek-blue---geekblue-5: #597ef7;
  --geek-blue---geekblue-6: #2f54eb;
  --geek-blue---geekblue-7: #1d39c4;
  --geek-blue---geekblue-8: #10239e;
  --geek-blue---geekblue-9: #061178;
  --geek-blue---geekblue-10: #030852;
  --golden-purple---purple-1: #f9f0ff;
  --golden-purple---purple-2: #efdbff;
  --golden-purple---purple-3: #d3adf7;
  --golden-purple---purple-4: #b37feb;
  --golden-purple---purple-5: #9254de;
  --golden-purple---purple-6: #722ed1;
  --golden-purple---purple-7: #531dab;
  --golden-purple---purple-8: #391085;
  --golden-purple---purple-9: #22075e;
  --golden-purple---purple-10: #120338;
  --magenta---magenta-1: #fff0f6;
  --magenta---magenta-2: #ffd6e7;
  --magenta---magenta-3: #ffadd2;
  --magenta---magenta-4: #ff85c0;
  --magenta---magenta-5: #f759ab;
  --magenta---magenta-6: #eb2f96;
  --magenta---magenta-7: #c41d7f;
  --magenta---magenta-8: #9e1068;
  --magenta---magenta-9: #780650;
  --magenta---magenta-10: #520339;
  --layout---bg: #f0f2f5;
  --layout---surface: #001529;
}

:root {
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1230px;
  margin-inline: auto;
  padding-inline: 15px;
  height: 100%;
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  padding: 8px 16px;
  /* width: 98px; */
  height: 40px;
  outline: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid var(--daybreak-blue---blue-6);
  background: var(--daybreak-blue---blue-6);

  color: var(--gray---gray-1);
}

.btn-outline {
  width: 116px;
  border: 1px solid var(--gray---gray-5);
  background: var(--gray---gray-1);

  color: var(--gray---gray-8);
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  min-height: 124px;
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 156px;
  padding-block: 60px;
}

.footer-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.footer-logo {}

.footer-nav {
  flex-grow: 1;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;

    li {
      font-weight: 400;
      font-size: 18px;
      color: var(--gray---gray-8);
    }
  }
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 21px;
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-image: url(../images/banners/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;

  box-shadow: 0 7px 12px 0 rgba(158, 158, 163, 0.1);
}

.banner-item-title {
  font-weight: 700;
  font-size: 39px;
  color: #302c34;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item-subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #302c34;
  max-width: 50%;
  margin: 0;
}

.products {}

.products-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.products-header--title {
  font-weight: 700;
  font-size: 36px;
  color: var(--gray---gray-10);
  margin: 0;
}

.products-header--search {
  border: 1px solid var(--gray---gray-5);
  border-radius: 2px;
  min-width: 306px;
  height: 34px;
  background: var(--gray---gray-1);
  padding: 5px 12px;

  font-weight: 400;
  font-size: 16px;
  /* color: var(--gray---gray-5); */
}

.products-header--search:focus {
  outline: none;
}

.products-header--search::placeholder {
  color: var(--gray---gray-6);
}

.products-wrapper {
  margin-top: 44px;
  margin-bottom: 90px;

  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}

.products-card {
  width: calc((100% - 24px - 24px) / 3);

  border-radius: 7px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: var(--gray---gray-1);
  overflow: hidden;
  text-decoration: none;
}

.products-card__image {
  width: 100%;

  img {
    width: 100%;
  }
}

.products-card__description {
  padding: 20px 24px 34px 24px;
}

.products-card__description-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-card__description-row:not(:last-child) {
  margin-bottom: 10px;
}

.products-card__description--title {
  font-weight: 700;
  font-size: 24px;
  /* line-height: 133%; */
  color: var(--gray---gray-10);
  margin: 0;
  padding: 0;
}

.products-card__description--title--badge {
  font-weight: 400;
  font-size: 12px;
  /* line-height: 167%; */
  color: var(--gray---gray-1);

  align-content: center;

  border-radius: 2px;
  padding: 1px 8px;
  padding: 1px 8px;
  background: var(--gray---gray-9);
}

.products-card__description-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
}

.products-card__description-info--rating {
  font-weight: 700;
  font-size: 18px;
  /* line-height: 178%; */
  color: #ffc107;
}

.products-card__description-info--price {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 178%; */
  color: var(--gray---gray-7);
}

.products-card__description-info--group {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 178%; */
  color: var(--gray---gray-7);
  position: relative;
}

.products-card__description-info--group:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--gray---gray-7);
  border-radius: 50%;
  position: absolute;
  left: -14px;
  top: 7px;
}

.products-card__description--name {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  /* line-height: 133%; */
  color: var(--gray---gray-10);

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.products-card__description--text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--gray---gray-7);

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.products-card__description-controls {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.products-card__description-controls--price {
  font-weight: 700;
  font-size: 20px;
  /* line-height: 160%; */
  color: var(--gray---gray-10);
}

.cart-modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.cart-modal__overlay.open {
  display: flex;
}

.cart-modal {
  border-radius: 5px;
  max-width: 780px;
  width: 100%;
  min-height: 552px;
  padding: 40px 45px;
  background: var(--gray---gray-1);
}

.cart-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.cart-modal__header--title {
  font-weight: 700;
  font-size: 36px;
  color: var(--gray---gray-10);
  margin: 0;
}

.cart-modal__header--close {
  cursor: pointer;
}

.cart-modal__body {}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cart-item:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--gray---gray-5);
}

.cart-item__title {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 178%; */
  color: var(--gray---gray-10);
  margin: 0;
}

.cart-item__controls {
  display: flex;
  align-items: center;
}

.cart-item__controls button {
  width: 40px;
  border: 1px solid var(--daybreak-blue---blue-5);
  color: var(--daybreak-blue---blue-5);
}

.cart-item__controls--price {
  font-weight: 700;
  font-size: 20px;
  /* line-height: 160%; */
  color: var(--gray---gray-10);
  margin-right: 47px;
}

.cart-item__controls--count {
  width: 40px;
  text-align: center;
}

.cart-modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
}

.cart-modal__footer--price {
  border-radius: 5px;
  padding: 15px 20px;

  align-content: center;
  background: var(--gray---gray-9);

  font-weight: 700;
  font-size: 20px;
  color: var(--gray---gray-2);
}

.cart-modal__footer--controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}