* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.header {
  height: 124px;
}

.header-box {
  border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1230px;
  margin-inline: auto;
  padding-inline: 15px;
  height: 100%;
}

.footer {
  height: 156px;
}

.footer-box {
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {}

.footer-nav {
  flex-grow: 1;
}

.footer-social {}